# Экспертные оценки

In [4]:
import pandas as pd
import numpy as np

In [9]:
evals = [[1,2,3.5,3,4],
[2.5,2,1.5,2,1],
[2.5,2,3,1,2],
[4,3.5,3.5,4,1]]

exp_matrix = pd.DataFrame(evals)
exp_matrix.columns = ["Эксперт "+str(int(x) + 1) for x in exp_matrix.columns]
exp_matrix.index = ["Объект "+str(int(x) + 1) for x in exp_matrix.index]
exp_matrix

          Эксперт 1  Эксперт 2  Эксперт 3  Эксперт 4  Эксперт 5
Объект 1        1.0        2.0        3.5          3          4
Объект 2        2.5        2.0        1.5          2          1
Объект 3        2.5        2.0        3.0          1          2
Объект 4        4.0        3.5        3.5          4          1

In [10]:
B_matrix = exp_matrix @ exp_matrix.T
vect_y = []
for i in B_matrix.index:
    vect_y.append((B_matrix.loc[i].prod()) ** (1 / B_matrix.shape[1]))
pd.Series([yl/sum(vect_y) for yl in vect_y], index = exp_matrix.index)

Объект 1    0.268212
Объект 2    0.183863
Объект 3    0.216215
Объект 4    0.331710
dtype: float64

In [11]:
C_matrix = exp_matrix.T @ exp_matrix
vect_y = []
for i in C_matrix.index:
    vect_y.append((C_matrix.loc[i].prod()) ** (1 / C_matrix.shape[1]))
pd.Series([yl/sum(vect_y) for yl in vect_y], index = exp_matrix.columns)

Эксперт 1    0.198296
Эксперт 2    0.193934
Эксперт 3    0.237108
Эксперт 4    0.211858
Эксперт 5    0.158805
dtype: float64